.netrwhist
undodir
vim/bundle/**
vim/Vundle.vim
vim/vim
composer
vim/flavors
/vim/.nvim
composer/composer.lock
/*.log
.vagrant
*.swp

# tar files
/bin/composer.phar
/bin/phpctags.phar
/vim/plugged
tmp
/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status
/vendor

/shell_test
.DS_Store
/neovim/.config/nvim/plugin/packer_compiled.lua
