snippet =
	<?= ${0} ?>
snippet pt
	<?php

	namespace ${1:FooTests\Bar};

	use ${2:Foo\Bar}\\${3:`vim_snippets#Filename()`};

	class $3Test extends PHPUnit_Framework_TestCase
	{
	    protected $object;
	
	    public function setUp()
	    {
	        $this->object = new $3();
	    }

	    public function testSomething()
	    {
	        $this->assertFalse(true);
	    }
	}
snippet pc
	<?php

	namespace ${1:Foo\Bar};

	class ${2:`vim_snippets#Filename()`};
	{
	}
