snippet it "it spec"
it('${1}', () => {
	${2}
});
endsnippet

snippet desc "describe spec"
describe('${1}', () => {
	${2}
});
endsnippet

snippet before "bofore spec"
beforeEach(() => {
	${1}
});
endsnippet
